<br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Create a Band!</h2>
        </div>

        <div class="card-body">
            <div class="container">
                <%= form_for @band do %>
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <%= label_tag :name, "Band name" %>
                    <br>
                    <%= text_field_tag :name  %>
                    <br>
                    <br>
                    <%= submit_tag "Create Band", class: "btn btn-sm btn-outline-secondary" %>
                <% end %>
            </div>
        </div>
    </div>
</div>